#headerWrap {
    height: 70px;
    padding: 0 20px;

}

#headerWrap h1 {
    margin-top: 3px;
    float: left;
    letter-spacing: -1px;
    margin-left: 10px;
}

#headerWrap h1 a {
    font-size: 8rem;
    font-weight: 900;
}

#headerWrap nav {
    float: right;
}

#headerWrap nav li {
    display: inline-block;
    margin-left: 25px;
}

#headerWrap nav li:first-child{
    margin-left: 0;
}

#headerWrap nav li a {
    font-size: 1.6rem;
}

#headerWrap nav li img{
    height: 70px;
    margin-top: 28px;
    padding: 0 25px 0 0;
}

#headerWrap nav li img.text{
    height: 50px;
    margin-top: 28px;
    padding: 0 5px 0 0;
}


#containerWrap {
    clear: both;

}
.box {
    width: 100%;
    padding: 30px 0;
    background: url(/img/hb.jpg);
    background-repeat: no-repeat;
}

.box .ip {
    display: inline-block;
    vertical-align: top;
    width: 385px;
    height: 950px;
    background-image: url(/img/ix.png);
    background-repeat: no-repeat;
    background-size: 400px;
    margin-left: 30px;

}

.box .ip .listwrap{
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    margin: 100px auto 0 auto;
    border-radius: 10px 10px 10px 10px;
}


.box .ip .title{
    position: relative;
}

.box .ip .title a{
    padding:  10px;
    font-size: 37px;
    font-weight: 900;
}

.box .ip .title span{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(21, 255, 0);
    width: 15px;
    margin: 20px;
    border-radius: 10px 10px 10px 10px;
    color: rgba(255, 255, 255, 0.2)
}

.box .ip .title .newslist{
    display: inline-block;
    font-size: 20pt;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    padding: 0 4px;
    margin-left: 16px;
    margin-top: 1px;
    margin-bottom: 8px;
}

.box .ip .title .newslist:first-child{
    margin-top: 15px;
}

.box .ip .title .newslist:nth-child(3){
    padding: 0px 44px 0px 4px;
}

.box .ip .title .newslist:last-child{
    font-size: 30px;
    padding: 0 44px 0 4px;
}

.box .ip .title:last-child{
    margin-top: -20px;
}



.api  {
    border-radius: 10px 10px 10px 10px;
    height: 210px;
    align-items: center;
}

.itsub {
    margin-left: -20px;
    margin-top: 20px;
}

.it {
    height: 60px;
    margin-top: 10px;
    border-radius: 100px 100px 100px 100px;
}

.mr {
    margin-left: -15px;
}

.box .ip .yt{
    position: relative;
}

.box .ip .yt a{
    padding:  10px;
    font-size: 37px;
    font-weight: 900;
}

.box .ip .yt span{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(21, 255, 0);
    width: 15px;
    margin: 20px;
    border-radius: 10px 10px 10px 10px;
    color: rgba(255, 255, 255, 0.2)
}

.box .ip .under{
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    margin: 75px auto 0 auto;
    border-radius: 10px 10px 10px 10px;
}

.y {
    height: 160px;
    border-radius: 10px 10px 10px 10px;
}

.box .ip .title .review{
    display: inline-block;
    font-size: 20pt;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    padding: 0 4px;
    margin-left: 16px;
    margin-top: 1px;
    margin-bottom: 8px;
}

.cm {
    margin-left: 40px;
    padding:  10px;
    font-size: 37px;
    font-weight: 900;
}
.box .ip .title .review:nth-child(2) {

}
